h1{
    color: rgb(0, 51, 255);
    font-size: 400%;
}

p{
    background-color: rgb(255, 0, 0);
    color: aliceblue;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
